.App {
  text-align: center;
}

html{
  background-color: #05B45A;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div, button {
  margin: 20px;
}

div.react-countdown-clock {
  width: 50% !important;
}

canvas {
  margin: auto;
}

.NowPlayingButton {
  height: 60px;
  width: 300px;
  display: inline-block;
    background-color: #5CC8FF;
    border-color: #5CC8FF;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    font-family: sans-serif;
    box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 3px 0 rgba(0,0,0,.4),
        inset 0 0 3px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 8px 16px;;
    font-size: 24px;
    line-height: 14px;
    position: relative;
}

.Answer, .NowPlaying{
  font-size: 24px;
}

.Header{
  font-size: 32px;
}

.MainHeader{
  font-size: 36px;
  background-color: #FFAC81;
  padding: 10px;
}

.Body {
  background-color: #FAFFD8;
  text-align: center;
}

form {
  text-align: center;
}

input[type=text]{
  display: block;
  width: 25%;
  margin: 0 auto 15px;
  padding: 16px;
  font-size: 24px;
}

input[type=text]:focus{
  border: 3px solid #555;
}

form input{
  display: block;
  width: 300px;
  margin: auto;
  padding: 16px;
}

.NowPlaying {
  display: block;
  width: 630px;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: #5CC8FF;
}
